/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

/*-----------------------------HEADER---------------------*/

.container {
    width: 1352px;
}

.header__container {
    margin: auto;
    height: 70px;
    background-color: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 3px 6px #00000029;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    color: #08A6E4;;

    margin-left: 136px;
}

.whyus {
    margin-right: 94px;
}

.benefits {
    margin-right: 94px;
}

.prices {
    margin-right: 94px;
}

.contact {
    margin-right: 136px;
}

.nav li {
    display: inline-block;
    text-transform: uppercase;
}

.nav li a {

    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #A5A5A5;
    text-decoration: none;

    padding: ;

    border-bottom: ;
}

.nav li a:hover {
    color: #000000;

}

